body {
    font-family: Arial, sans-serif;
    background-color: #0c141c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215vh;
    margin: 0;
}
.heading{
    text-align:center ;
    color:rgb(229, 37, 66);
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quiz-container {
    padding: 40px;
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.question {
    margin-bottom: 60px;
}


h3 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

button {
    background-color: rgb(160, 163, 166);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    width: 100%;
}

button:hover {
    background-color: #383c42cc;
}



